{
  "comments": false,
  "presets": [
    "@babel/preset-env",
    "minify"
  ],
  "plugins": [
    "@babel/plugin-transform-object-assign"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env"]
      ]
    }
  }
}
